# Backend API Configuration - Using JSONPlaceholder for testing
# Change this URL when you receive the actual backend endpoint from the developer

NEXT_PUBLIC_QUERY_API_URL=https://jsonplaceholder.typicode.com/users

# NextAuth
NEXTAUTH_SECRET=333cb60f3e7b0e5f84ccb82dad3a11d7d707f2be05fe5568ab50e51ef1bb85c0
# NEXTAUTH_URL=https://127.0.0.1:12001
NEXTAUTH_URL=http://localhost:3000

# Keycloak
KEYCLOAK_ISSUER=https://127.0.0.1:11443/realms/insider-threat
KEYCLOAK_CLIENT_ID=iip-frontend
KEYCLOAK_CLIENT_SECRET=5xmyAPq0N2XEMsL7zDzMYi5wVzqcQwp5
NODE_EXTRA_CA_CERTS=/home/admin/container_volumes/keycloak/certs/keycloak.crt
# KEYCLOAK_ISSUER=http://localhost:8080/realms/demo
# KEYCLOAK_CLIENT_ID=Testing-Frontend
# KEYCLOAK_CLIENT_SECRET=489wOZ998L3grFObo5beUIsbisF9eIIV

# Optional role gate for admin routes
NEXT_PUBLIC_KEYCLOAK_ADMIN_ROLE=admin
NEXT_PUBLIC_ENABLE_ADMIN_PROTECTION=false
